@media (min-width: 1440px) {
  html {
    height: fit-content;
  }

}

body {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.2px;
  color: white;
  background-image: url(https://wallpapercave.com/wp/wp3409933.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px) brightness(70%);
  background-position: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 270%;
  text-shadow: 2px 1px 10px gold;
}

main {
  padding: 2.3em;
}

#description {
  font-family:'Montserrat Alternates', 'sans-serif';
  text-align: center;
  text-overflow: hidden;
  font-size: 103%;
  line-height: 1.6em;
  font-weight: 600;
}

hr {
  border: 1px solid gold;
  background-color: gold;
}
label {
  font-size: 98%;
}

input {
  display: inline-block;
  border-radius: 0.5em;
  font-family:'Montserrat Alternates', 'sans-serif';
  font-weight: bold;
  padding: 0.2em;
  margin: 0.6em;
}

fieldset {
  border-radius: 0.3em;
  background-color: rgba(0,0,0, 0.6);
  padding: 1em;
  margin-bottom: 2em;
}

legend {
  background-color: gold;
  padding: 0.3em;
  border-radius: 0.2em;
  color: black;
}
#primary-info label {
  text-shadow: 2px 1px 10px gold;
}

#primary-info, #gender {
    width: fit-content;
    display: inline;
}
#gender {
    padding-top: 2.2em;
}
#gender select {
    position: relative;
    top: -1em;
}
#marital-status, #idk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0.4em;
}

#marital-status label , #idk label {
  font-size: 110%;
}

@media (min-width: 642px) and (max-width: 1020px) {
  #gender {
    padding-top: 7.5em;
  }
  #gender select {
    display: relative;
    top: -6.5em;
  }
}

@media (min-width: 1020px) and (max-width: 2767px) {
  #primary-info br {
    display: none;
  }
  #description {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  input {
    padding: 0.5em;
    margin: 0.3em;
  }
  fieldset {
    margin: 2em;
    padding: 1em;
  }
  #marital-status {
    width: 25%;
  }
  #idk {
    width: 25%;
  }
  #feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    flex-wrap: no-wrap;
    width: 40%;
  }
  #form-collection {
    display: flex;
  }
}

@media (min-width: 2560px) and (max-width: 2767px) {
  html {
    height: 100%;
  }
  #survey-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2.4vw;
  }
  #description {
    font-size: 1.1vw;
  }
  #feedback-container  {
    font-size: 1.2vw;
  }
}

#feedback-container label {
  text-shadow: 2px 1px 10px gold;
}

#feedback-container textarea, input[type="email"] {
  background-color: rgba(255, 255, 255, 0.8);
}

#feedback-container textarea {
  padding: 10px;
  width: 80%;
}

#feedback-container p {
  font-family:'Montserrat Alternates', 'sans-serif';
  font-weight: 600;
  font-size: 100%;
}

#submit {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.1px;
  border: none;
  font-size: 110%;
  background-color: gold;
  color: black;
  width: 84%;
  transition: all 0.3s;
  padding: 1.1%;
}
#submit:hover {
  background-color: rgb(255,170,0);
}

#feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: auto;
  position: fixed;
  bottom: -50px;
  width: 100%;
}
#footer span {
  color: rgba(255,185,0,1);
  font-size: 130%;
}